<div class="jumbotron-panel">
  <div class="panel panel-primary collapse-horizontal">
    <a data-toggle="collapse" class="btn btn-primary collapsed" data-target="#toggle-collapse">Chat <i class="fa fa-caret-down"></i></a>
    {{#socials_enable}}	
    <div class="jumbotron-brands">
      <ul class="brands brands-sm brands-inline brands-circle">
        <li><a href="{{&fb_link}}"><i class="fa fa-facebook"></i></a></li>
        <li><a href="{{&tw_link}}"><i class="fa fa-twitter"></i></a></li>
        <li><a href="{{&goo_link}}"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    {{/socials_enable}}
    <div id="toggle-collapse" class="panel-collapse collapse">
      <div class="panel-body">
        
        {{#chat_enable}}
        <div class="main_chat">
          {{#chat_main}}
          <div class="post_chat"><div class="chat_ava">{{&chat_ava}}</div> <a href="{{viewprofile_from_chat}}" style="color:#{{chat_user_color}} !important" target="_blank">{{chat_user}}</a> {{lang_in}} {{chat_date}}: <span style='color:orange'>{{chat_text}}</span></div>
          {{/chat_main}}
        </div>
        
        
        <form method="post">
          <div class="chat_form_bgr">
            {{#is_logged}}
            <input type="hidden" name="usernamec" class="usernamec" value="{{username}}"/>
            <input type="text" id="emoticons_here" name="message" class="chat_msg" placeholder="{{lang_type_message}}"/>
            <input type="submit" name="submit_chat" value="{{lang_send}}" class="btn btn-xs btn-info chat_submit"/>
            {{/is_logged}}
            {{^is_logged}}
            <input type="text" name="message" class="chat_msg" placeholder="{{lang_logged_to_write}}"/>
            {{/is_logged}}
          </div>
        </form>
        {{/chat_enable}}
        
      </div>
    </div>
  </div>
</div>

{{&template_event_after_chat}}

