<div class="col-sm-4">
  
{{&template_event_before_right_menu}}  

{{#no_menuz}}
  {{^hide_test_menus}}
  <div class="box sidebar-box widget-wrapper argos_test_menu">
    <h3>{{lang_test_menu}}</h3>
    {{&lang_test_menu_text}}
  </div>
  {{/hide_test_menus}}
{{/no_menuz}}
{{^no_menuz}}
{{#get_menus}}
<div class="box sidebar-box widget-wrapper">
  <h3>{{menu_title}}</h3>
  {{&menu_content}}
</div>
{{/get_menus}}
{{/no_menuz}}

<!-- custom menuz -->
{{#poll_enable}}
<div class="box sidebar-box widget-wrapper">
  <h3>{{lang_poll}}</h3>
  {{&poll_print}}
  {{poll_choose}}
</div>
{{/poll_enable}}

{{#servers_enable}}
<div class="box sidebar-box widget-wrapper">
  <h3>{{lang_servers}}</h3>
  <div id="greyfish2">
  <div style='text-align:center' class='greyfish-preload2'>
  <b>Loading the servers...</b><br/>
  <img src='http://i.imgur.com/RZHrcPw.gif' alt=''/>
  </div>
  </div>
  <a href="{{baseurl}}/servers.php" class="btn btn-md btn-primary" style="color:#fff !important">{{lang_view_all_servers}}</a>
</div>
{{/servers_enable}}
<!-- end custom menuz -->

{{&template_event_after_right_menu}} 
</div> 