{{> header }}

{{> slider }}

{{> chat }}

<div id="main_full">
<h2><span>{{lang_gallery}}</span></h2>

<div class="content-padding">
<div class="argos_gallery">


{{#gallery_enable}}
  <br/><a href="{{baseurl}}/upload_img.php"><div class="btn btn-md btn-success">Upload</div></a><br/>
{{#allpictures}}

<div style="float:left;margin:5px">
<a class="see_with_magnific" href="{{baseurl}}/uploads/images/{{pic_link}}"><img src="{{baseurl}}/uploads/images/{{pic_link}}" width="160" height="120" alt=""/></a>
<br/>
<b>{{lang_date}}:</b> {{pic_date}}<br/>
<b>{{lang_uploader}}:</b> {{pic_uploader}}
</div>

{{/allpictures}}
<div class="clear clearfix"></div>

{{&pagination_gallery}}
{{&no_have_pics}}

{{/gallery_enable}}
{{^gallery_enable}}
<br/>
<div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> {{lang_gallery_temp_disabled}}</div>
{{/gallery_enable}}

</div>
</div>
</div>
 
{{> advertise }}
 
{{> footer }}
