{{> header }}

{{> slider }}

{{> chat }}


<div id="main_full">
<h2><span>{{lang_upload_img}}</span></h2>
<div class="content-padding">
{{#img_upload_enable}}
<br/><a href="{{baseurl}}/gallery.php"><div class="btn btn-md btn-success">{{lang_gallery}}</div></a><br/>
{{#is_logged}}
<br/>
{{&template_event_before_dropbox}}
<form action="ajax/dropzone" class="dropzone"></form>
{{/is_logged}}
{{^is_logged}}
<br/>
<div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> {{lang_register_now}}</div>
{{/is_logged}}
{{/img_upload_enable}}
{{^img_upload_enable}}
<br/>
<div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> {{lang_imgupload_temp_disabled}}</div>
{{/img_upload_enable}}

</div>
</div>


{{> advertise }}
 
{{> footer }}
