<!DOCTYPE html>
<!-- created by dedihost.org -->
<html lang="en">
  <head>
    {{> meta }}
  </head>
<body class="skin-default">
{{> header }}
    
{{> sidebar }}
    
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Custom Pages [EXT]
        </h1>
        <hr class="border_acp"/>
        
        <div class='row'>
          <div class='col-md-12'>
            
            <div class="box box-danger">
              <div class="box-header with-border">
                <h3 class="box-title">Custom Pages [EXT]</h3>
              </div>
              <div class="box-body">		   
                
                {{&template_admin_event_custom_pages_ext}}
                  
              </div>
            </div>
          </div>
        </div>
                  
                  
          <ol class="breadcrumb">
                  <li><a href="index.php"><i class="fa fa-dashboard"></i> Admin</a></li>
                  <li class="active">Custom Pages [EXT]</li>
          </ol>
      </section>
                  
                  
</div><!-- /.content-wrapper -->
{{> footer }}                  