<div class="col-sm-8">

{{&template_event_before_left_menu}}  

{{#allnews}}
<div class="news_box argos_news">
<img src="{{news_img}}" class="img-responsive img_news" alt=""/>

<div class="news_text">
<a href="{{news_seourl}}" class="news_title">{{news_title}}</a> <div class="btn btn-xs btn-default">{{news_comments}}</div><br/>

{{#rating_enable}}
  <div class="vote-right home-vote">
    
    <span class="upvote">
      <span class="vote-btn" data-vote="upvote" data-my="{{news_id}}"></span>
    </span>
    
    <span class="vote-number" id="bid-{{news_id}}">{{news_votes}}</span>
    
    <span class="downvote">
      <span class="vote-btn" data-vote="downvote" data-my="{{news_id}}"></span>
    </span>	
    
	</div>
{{/rating_enable}}
{{&news_text}} 
<a href="{{news_seourl}}" class="btn btn-xs btn-default">{{lang_readmore}}</a>
<hr class="news_hr"/>
<i class="fa fa-user"></i> <b>{{lang_author}}</b>: <span style="color:darkred">{{news_username}}</span>, <i class="fa fa-calendar"></i> <b>{{lang_write_on}}</b>: {{news_date}}

</div>

<div class="line"></div>
<div class="clear clearfix"></div>
</div>


{{/allnews}}
{{&no_have_news}}

{{&pagination_news}}

{{^news_exists}}
{{&template_event_after_news}}
{{/news_exists}}

{{#news_exists}} <!-- for specific view -->
<div class="news_box argos_news">
<img src="{{news_img}}" class="img-responsive img_news" alt=""/>
<div class="news_text">
<a href="#" class="news_title">{{news_title}}</a> <div class="btn btn-xs btn-default">{{news_comments}}</div><br/>
{{#rating_enable}}
  <div class="vote-right home-vote">
    
    <span class="upvote">
      <span class="vote-btn" data-vote="upvote" data-my="{{news_id}}"></span>
    </span>
    
    <span class="vote-number" id="bid-{{news_id}}">{{news_votes}}</span>
    
    <span class="downvote">
      <span class="vote-btn" data-vote="downvote" data-my="{{news_id}}"></span>
    </span>
    
	</div>
{{/rating_enable}}
{{&news_text}}
<hr class="news_hr"/>
<i class="fa fa-user"></i> <b>{{lang_author}}</b>: <span style="color:darkred">{{news_author}}</span>, <i class="fa fa-calendar"></i> <b>{{lang_write_on}}</b>: {{news_date}}

</div>
<div class="line"></div>

<div class="clear clearfix"></div>
</div>
 
<div class="boxx argos_comments">
<div class="head"><div class="head_ico"><i class="fa fa-weixin"></i></div><span class="head_title"> {{lang_comments}}</span></div>
<div class="some_padding">
<br/>
{{&no_comments_here}}
{{#allcomments}}
  <div class="comments-head">
        <div class="author-avatar pull-left">
          <div class="ava_news">{{&comment_ava}}</div> <br/>		
        </div>
        <div class="name pull-left">
            <a href="{{forum_path}}/memberlist.php?mode=viewprofile&amp;u={{comment_userid}}" style="color:#{{comment_nick_color}} !important">&nbsp;{{comment_author}}</a> <span style="color:red">::</span> {{comment_date}}:<br/>
            {{#rating_enable}}
              <span class='upme vote-btn2' data-vote='upvote'  data-my="{{comment_id}}"></span> <span id='bid-{{comment_id}}'>{{comment_votes}}</span> <span class='downme vote-btn2' data-vote='downvote'  data-my='{{comment_id}}'></span>
            {{/rating_enable}}			
        </div>
  </div>
  <div class="clear clearfix"></div>
  <div  style="width: 100%;">
    <p class="comments_block">
    {{&comment_text}}</p>
  </div> 

{{/allcomments}}

{{&template_event_after_comments}}
 
<hr/>

{{#is_logged}}
{{#comments_enable}}
<form method="post">
  <textarea name="com_text" rows="3" class="form-control" id="emoticons_here2"></textarea><br/>
  <input type="submit" name="submit_comm" value="{{lang_send}}" class="btn btn-md btn-success"/>
</form>
{{/comments_enable}}
{{^comments_enable}}
  <div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> {{lang_comments_disabled}}</div>
{{/comments_enable}}
{{#submit_com_suc}} <br/><div class="alert alert-success"><i class="fa fa-check"></i> {{&submit_com_suc}}</div> {{/submit_com_suc}}
{{/is_logged}}
{{^is_logged}}
  <div class="alert alert-warning"><i class='fa fa-exclamation-triangle'></i> {{lang_post_comments_warning}}</div>
{{/is_logged}}
</div>
</div>
{{/news_exists}}
   
{{> last_topics }}

{{&template_event_after_left_menu}}
</div> 